/* Voeg hier eventuele CSS-styling toe voor de Container */
.container {
    display: grid;
    margin: 0 auto;
    max-width: 90em;
    padding: 1.5rem 1rem;
}

/* flex */
.even-column {
    display: flex;
    align-items: center;
}

.inner__grid {
    display: grid;
    max-width: 90em;
    padding: clamp(1rem, 0.361rem + 2.376vw, 3rem);
    border-radius: 24px;
    background-color: #1c1c1c;
}
